body  {
    background-color: rgb(0, 0, 0);
    color: blueviolet;
}
.circle {
    width: 200px;
    height: 200px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    line-height: 200px;
}
/*git branch 名前　でブランチ作成。git branch -a で確認
git checkout devで移動*/
